<!-- liste-contacts.component.html -->
<div>
    <h2>Liste des Contacts ({{ contacts.length }})</h2>
    <!-- Message si liste vide -->
    <p *ngIf="contacts.length === 0">
        Aucun contact pour le moment.
    </p>
    <!-- Affichage si liste non vide -->
    <ul *ngIf="contacts.length > 0">
        <li *ngFor="let c of contacts; let i = index">
            <span>{{ i + 1 }}.</span>
            <strong> {{ c.nom }} </strong>
            — {{ c.email }}
            <small *ngIf="c.telephone"> | {{ c.telephone }}</small>
        </li>
    </ul>
</div>

<!-- Ajouter dans liste-contacts.component.html -->
<p *ngIf="nombreAjouts > 0">
{{ nombreAjouts }} contact(s) ajouté(s) depuis le chargement
</p>
<small>Liste chargée à : {{ dateChargement }}</small>